/* ---------------------font-family----------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* -----------------------colors used in this project--------------------------- */

:root {
  --white4: #e5e5e5;
  --lightgrey: #dbd8d7;
  --medium-grey: #acb7c3;
  --white: #fff;
  --light-color: #666;
  --orange: #ff6b00;
  --orange2: #f55800;
  --orange3: #9a3a03;
  --orange4: #e05304;
  --white2: #fff5e1;
  --white3: #f4f1f0;
  --white5: #f4f5f7;
  --navy-blue: #091e42;
  --navy-blue2: #172b4d;
  --medium-grey2: #8993a4;
  --grey: #3c3a39;
  --dark: #1c1a19;
  --coffee: #212121;
  --grey2: #5b5957;
  --grey3: #706b6b;
  --grey5: #979493;
  --grey4: #344563;
  --call: rgb(26, 24, 24);
  ---navy3: #344563;
  --navy4: #8993a4;
  --bg1: rgba(255, 255, 255, 0.24);
  --dark1: #262626;
  --white6: #ebecf0;
  --red: #fd0606;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

/* -------------------------Popup------------------------------ */

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);

  /* -ms-filter: blur(5px); */
}

#modalPop {
  display: none;
}

form p {
  display: none;
}

input:focus,
textarea:focus {
  background-color: lightyellow;
}

.modalPop {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 24px;
  position: fixed;
  width: 343px;
  height: 630px;
  left: calc(50% - 343px / 2);
  top: 40px;
  background: var(--white);
  border: 1px solid var(--white6);
}

.meDiv h2 {
  width: 100vw;
  height: 77px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: var(--orange);
  text-align: center;
}

.modalPop .modalHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 311px;
  height: 130px;
}

.modalPop .modalHeader h2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 311px;
  height: 82px;
}

.modalPop .modalHeader h2 span {
  width: 259px;
  height: 40px;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--navy-blue2);
}

.modalPop .modalHeader h2 .closeB {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.modalPop .modalHeader .dTitle {
  display: none;
}

.modalPop .modalHeader .modalTech {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 270px;
  list-style: none;
  height: 36px;
}

.modalPop .modalHeader .modalTech li button {
  border: 1px solid var(--lightgrey);
  font-size: 16px;
  padding: 9px;
  background: none;
  color: var(--navy-blue2);
}

.modalPop .modalDes {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 311px 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 300px;
  height: 270px;
}

.modalPop .modalDes #btnContact {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
}

.meDiv p {
  display: flex;
  width: 327px;
  height: 148px;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white5);
  text-align: left;
  margin-left: 10%;
}

.allProjects p {
  display: flex;
  width: 295px;
  height: 87px;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  padding-left: 3%;
}

#works p {
  display: flex;
  width: 80vw;
  height: 147px;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--navy-blue);
  margin-top: -3rem;
  margin-left: -3rem;
}

#intro p {
  display: flex;
  width: 70vw;
  height: 150px;
  font-family: "Poppins", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  padding-left: 1rem;
}

.modalPop .modalDes #btnContact p {
  width: 311px;
  height: 220px;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: var(--grey4);
}

.modalPop .modalDes #btnContact .contactBtn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 0;
  width: 311px;
  height: 56px;
  list-style: none;
  margin-top: -5rem;
}

.modalPop .modalDes #btnContact a .btnContact {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px;
  height: 40px;
  background: var(--orange2);
  border: none;
  color: var(--white);
  font-size: 15px;
  gap: 0.3rem;
}

.modalPop .modalDes #btnContact a .btnContact:hover {
  background: transparent;
  color: var(--orange2);
}

/* -----------------------------Animation----------------------- */
@media (min-width: 375px) {
  .anim {
    animation-name: my-animation;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @keyframes my-animation {
    from {
      background-color: transparent;
      width: 100%;
      left: 0;
      top: 45px;
    }

    to {
      background-color: transparent;
      width: 50%;
      left: 600px;
      top: 45px;
    }
  }
}

/* ------------------------------------Nav----------------------------- */

/* ------------------------------------navStyle---------------------------------- */

.container {
  position: fixed;
  height: 91px;
  width: 100vw;
  top: 0;
  border-radius: 0;
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  z-index: 1;
}

a {
  text-decoration: none;
}

.list {
  display: none;
}

.menu-list {
  display: none;
}

.btn-hamburger {
  z-index: 100;
  display: flex;
  background: none;
  color: var(--white);
  padding-right: 10px;
  border: none;
  align-items: center;
}

.btn-hamburger .closeIcon {
  display: none;
  font-size: 18px;
  padding-right: 7%;
  position: absolute;
  top: 3rem;
  right: 0;
}

.showMenu {
  background: var(--grey);
  width: 397px;
  transform: translateY(0);
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 100vh;
  border-radius: 0;
  padding-top: 100px;
  margin-top: 0;
  align-items: center;
  margin-left: -6rem;
}

.showMenu li {
  list-style: none;
  border: none;
  border-bottom: 1px solid var(--medium-grey);
  width: 90vw;
  margin-right: 30px;
  padding-bottom: 10px;
}

.showMenu li .menuItem {
  background: var(--grey);
  color: var(--white);
  font-size: 25px;

  /* margin-left: 13%; */
}

.home-div {
  display: flex;
  margin-left: -2rem;
  align-items: center;
}

nav > a {
  color: var(--white);
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  display: flex;
  margin-left: -1rem;
}

.btn-hamburger .burgerIcon {
  display: flex;
  margin-right: 1rem;
}

/* ------------------------------------intro------------------------------------- */

#intro {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 800px;
  background: var(--dark);
  background-image: url(./Images/Group.png);
  background-position: 100% 100%;
  background-size: 55%;
  background-repeat: no-repeat;
  align-items: center;
  margin: auto;
}

#intro h1 {
  width: 80vw;
  height: 64px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 48px;
  letter-spacing: 0.37px;
  color: var(--orange);
  margin-top: 120px;
  padding-left: 1rem;
}

#intro h5 {
  width: 70vw;
  height: 10px;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: var(--white);
  padding-left: 1rem;
}

.social {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 40px;
  list-style: none;
  gap: 1rem;
  justify-content: left;
  padding-left: 1rem;
}

/* ------------------------------------works------------------------------------- */

#works {
  background-color: var(--white4);
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 375px;
  height: 700px;
  align-items: center;
  background-image: url(./Images/Img\ Placeholder.png);
  background-repeat: no-repeat;
  background-position: 53% 30%;
  background-size: 82% 34%;
  margin: auto;
}

.hidehr {
  display: none;
}

#works .worksDiv h2 {
  width: 80vw;
  height: 83px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
  display: flex;
  color: var(--dark);
  border: none;
  border-bottom: 1px solid;
  padding-left: 1rem;
}

.worksDiv .line {
  position: absolute;
  top: 24%;
  height: 1.2px;
}

#works .rightFlex {
  margin-left: 6rem;
}

#works h5 {
  width: 90vw;
  height: 44px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 44px;
  display: flex;
  color: var(--navy-blue);
  margin-top: 15rem;
  justify-content: left;
  margin-left: -3rem;
}

.btnLang {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: -5.7rem;
}

.btnLang li {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: auto;
  height: 40px;
  background: var(--white);
  border: 1px solid var(--navy4);
  flex: none;
  order: 3;
  flex-grow: 0;
}

.project1 {
  width: 100%;
  height: 48px;
  background: var(--orange);
  border: none;
  color: var(--white);
  font-family: "Inter", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
}

.project1:hover {
  background: var(--white2);
  color: var(--orange3);
  border: 1px solid var(--orange2);
}

.project1:active {
  background: var(--orange3);
  color: var(--white);
}

.project1:disabled {
  background: var(--white4);
  color: var(--dark);
}

#works .rightFlex .project1 {
  padding: 12px;
  width: 124px;
  height: 48px;
  background: var(--orange);
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-top: 0;
  border: none;
  margin-left: -3.2rem;
}

/* ------------------------------------Project samples--------------------------- */

.allProjects {
  background-color: var(--white);
  width: 100vw;
  height: auto;
}

.allProjects #deskProject {
  display: none;
}

#mobProjects {
  display: grid;
  grid-template-rows: auto;
  margin-top: 2%;
  height: auto;
  width: 100vw;
}

.desH {
  display: none;
}

.projectM .mobH,
.projectM .alone {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--white);
  margin-top: 100px;
  padding-left: 5px;
}

.projectM {
  background-image: url(./Images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 375px;
  height: auto;
  margin: auto;
}

.allProjects h3 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--white);
  margin-top: 5rem;
  padding-left: 1rem;
}

.techUse {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

.techUse li {
  align-items: center;
  padding: 10px 12px;
  background: var(--bg1);
  width: auto;
  height: 40px;
  border: none;
}

/* ------------------------------------about------------------------------------- */

#aboutSec {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  width: 375px;
  height: auto;
  background-image: url(./Images/about-bg.png);
  background-repeat: no-repeat;
  background-position: right 16%;
  padding-bottom: 10rem;
  margin: auto;
}

.btnAbout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: var(--orange);
  border: none;
  margin-left: 2rem;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white);
}

.btnAbout:hover {
  background: var(--white2);
  color: var(--orange);
  border: 1px solid var(--orange);
}

.btnAbout:active {
  background: var(--orange3);
  color: var(--white);
}

.btnAbout:disabled {
  background: var(--white4);
  color: var(--coffee);
}

#aboutSec hr {
  margin-top: 49%;
  width: 80%;
}

/* ------------------------------------languge----------------------------------- */

.mainLang {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
}

.boldH {
  gap: 17%;
  display: flex;
  width: 164px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 44px;
  align-items: center;
  color: var(--white);
}

footer ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-top: 3rem;
  border: none;
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  width: 375px;
  margin-left: -3rem;
  justify-content: center;
}

.mainLang div ul {
  list-style: none;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.mainLang div #shift {
  margin-left: -4rem;
}

.mainLang div ul li {
  width: 100%;
  height: 24px;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 12%;
}

/* ------------------------------------form-------------------------------------- */

#contact {
  background-color: var(--white);
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: auto;
  margin: auto;
}

#contact h3 {
  width: 85vw;
  height: 216px;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: var(--navy-blue2);
}

#contact form {
  margin-left: 3%;
}

#email-field {
  display: block;
  width: 375px;
  border: 0;
  border-bottom: 2px solid var(--grey5);
  background: transparent;
  outline: none;
  font-size: 26px;
  padding: 5px 2px;
  position: relative;
  z-index: 10;
}

#email-error {
  width: 100%;
  padding: 0;
  font-size: 30px;
  color: var(--red);
  background: var(--white);
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

input .invalid {
  border-color: var(--red);
  background: var(--lightgrey);
}

input:focus .invalid {
  outline: none;
}

#email-error.active {
  padding: 0.3rem;
}

.fullName {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 85vw;
  height: auto;
}

.first-last {
  display: none;
}

#contact form input {
  border: none;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--grey5);
  border-bottom: 1px solid;
  width: 80vw;
}

#contact form textarea {
  background: var(--white4);
  left: 12px;
  right: 12px;
  top: 12px;
  bottom: 12px;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--grey);
  margin-top: 5%;
  border: none;
}

.callMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: var(--orange);
  border: none;
  margin-left: 20%;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: var(--white);
}

.callMe:hover {
  border: 1px solid var(--orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: var(--white3);
  margin-left: 20%;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: var(--orange3);
}

.callMe:active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: var(--orange3);
  border: none;
  margin-left: 20%;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: var(--white);
}

.callMe:disabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: var(--white4);
  border: none;
  margin-left: 20%;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: var(--grey3);
}

/* ------------------------------------footer------------------------------------ */

/* ------------------------------------desktopVersion---------------------------- */

@media (min-width: 768px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  * {
    box-sizing: border-box;
  }

  /* ------------------------------------navStyle---------------------------------- */
  .container {
    position: fixed;
    height: 109px;
    width: 100vw;
    left: 5px;
    top: 0;
    background-color: var(--grey);
    display: flex;
    z-index: 1;
    margin: auto;
  }

  .btn-hamburger {
    display: none;
  }

  .showNot {
    display: none;
  }

  .showMenu {
    display: none;
  }

  .showMenu li {
    list-style: none;
    border: none;
    width: 70px;
    display: none;
  }

  .menu-list .menuItem {
    background: var(--grey);
    color: var(--white);
    font-size: 20px;
  }

  .showMenu li .menuItem {
    background: var(--grey);
    color: var(--white);
    font-size: 18px;
    margin-left: 10rem;
    display: none;
  }

  .home-div a {
    color: var(--white);
    font-family: "Roboto", "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 25px;
    padding-left: 20%;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin: auto;
    padding-left: 50%;
  }

  /* ------------------------------------intro------------------------------------- */

  #intro {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    background: var(--dark);
    background-image: url(./Images/Illustration-header.png);
    background-position: 100% 100%;
    background-size: 35% 80%;
    background-repeat: no-repeat;
    margin: auto;
  }

  #intro .introDiv {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  #intro h1 {
    width: 30vw;
    height: auto;
    font-size: 72px;
    line-height: 60px;
    margin-top: 5rem;
    padding-left: 1rem;
  }

  #intro h5 {
    width: 30vw;
    height: auto;
    font-size: 30px;
    margin-top: -3rem;
  }

  .allProjects p {
    width: 295px;
    height: 87px;
    font-family: "Inter", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    padding-left: 3%;
  }

  #intro p {
    width: 40vw;
    margin-top: -2rem;
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 201px;
    height: auto;
    list-style: none;
    gap: 1rem;
  }

  /* ------------------------------------works------------------------------------- */

  #works {
    background-color: var(--white4);
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100vw;
    height: 700px;
    align-items: center;
    background-image: url(./Images/Img\ Placeholder.png);
    background-repeat: no-repeat;
    background-position: 11% 85%;
    background-size: 48% 65%;
    padding: 3rem;
    margin: auto;
  }

  #works .worksDiv {
    width: 90vw;
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  #works .worksDiv .hidehr {
    width: 45vw;
    color: var(--dark);
    display: flex;
  }

  .modalPop .modalHeader h2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 1108px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #works .worksDiv h2 {
    width: 45vw;
    height: auto;
    font-size: 40px;
    line-height: 52px;
    border: none;
  }

  .worksDiv .line {
    top: 51%;
    height: 1.2px;
    left: 351px;
  }

  #works .rightFlex {
    display: flex;
    flex-direction: column;
    margin-left: 72%;
    width: 32vw;
    margin-top: -13rem;
    height: auto;
  }

  #works h5 {
    width: 327px;
    height: 36px;
    font-family: "Crete Round", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: var(--navy-blue);
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #works p {
    width: 35vw;
    height: auto;
    font-family: "Inter", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--navy-blue);
  }

  .btnLang {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 6%;
    top: 93%;
    left: -13%;
  }

  .btnLang li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: auto;
    height: 40px;
    background: var(--white);
    border: 1px solid var(--navy4);
  }

  .project1 {
    width: 100%;
    height: 48px;
    background: var(--orange);
    border: none;
    color: var(--white);
    font-family: "Inter", "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.03em;
  }

  .project1:hover {
    background: var(--white2);
    color: var(--orange3);
    border: 1px solid var(--orange2);
  }

  .project1:active {
    background: var(--orange3);
    color: var(--white);
  }

  .project1:disabled {
    background: var(--white4);
    color: var(--dark);
  }

  .projectD .project1 {
    margin-top: 22rem;
  }

  .projectD2 .project1 {
    display: none;
  }

  .projectD3 .project1 {
    display: none;
  }

  .projectD4 .project1 {
    display: none;
  }

  #works .rightFlex .project1 {
    padding: 12px;
    width: 127px;
    height: 48px;
    background: var(--orange);
    font-family: "Inter", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    letter-spacing: 0.03em;
    color: var(--white);
    margin-top: 1rem;
    border: none;
    margin-left: -3.2rem;
  }

  .project0 {
    flex-direction: row;
    padding: 12px;
    gap: 10px;
    width: 124px;
    height: 48px;
    background: var(--orange);
    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: "Inter", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white);
    position: absolute;
    top: 113%;
    border: none;
  }

  .project0:hover {
    flex-direction: row;
    padding: 12px;
    gap: 10px;
    width: 124px;
    height: 48px;
    background: var(--white);
    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: "Inter", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--orange);
    position: absolute;
    top: 93%;
    border: 1px solid var(--orange);
  }

  /* --------------------------------Projects----------------------------------- */

  .allProjects {
    background-color: var(--white);
    margin-top: 0;
    width: 100vw;
    height: auto;
  }

  .allProjects #deskProject {
    display: none;
  }

  #mobProjects {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    padding: 10px;
    gap: 1rem;
    justify-content: center;
    height: auto;
    margin: auto;
  }

  #prohover1,
  #prohover2,
  #prohover3,
  #prohover4,
  #prohover5 {
    width: 31vw;
    height: 48px;
    background: var(--orange);
    border: none;
    color: var(--white);
    font-family: "Inter", "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.03em;
    padding: 0;
    margin: auto;
    display: none;
  }

  #noShow {
    background-image: url(./Images/placeholder1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 86%;
    width: 75%;
    margin-top: 13px;
    display: none;
  }

  .projectD {
    background-image: url(./Images/placeholder1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 31vw;
    border-radius: 0;
  }

  .projectD .invisc {
    display: none;
  }

  .allProjects h3 {
    width: 295px;
    height: 81px;
    font-family: "Crete Round", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: var(--white);
    margin-top: 25%;
    padding-left: 3%;
  }

  .techUse {
    display: flex;
    flex-direction: row;
    gap: 5%;
    list-style: none;
  }

  .techUse li button {
    align-items: center;
    padding: 10px 12px;
    background: var(--bg1);
    width: 100%;
    height: 40px;
    border: none;
  }

  .projectD1 {
    background-image: url(./Images/placeholder2.png);
    height: auto;
    width: 31vw;
  }

  .projectD2 {
    background-image: url(./Images/placeholder3.png);
    height: auto;
    width: 31vw;
  }

  .projectD3 {
    background-image: url(./Images/background.png);
    height: auto;
    width: 31vw;
  }

  .projectD1:hover,
  .projectD2:hover,
  .projectD3:hover {
    background-image: url(./Images/placeholder1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 31vw;
    margin-top: 13px;
  }

  .projectD1:hover .hide-text,
  .projectD2:hover .hide-text,
  .projectD3:hover .hide-text {
    display: none;
  }

  .projectD1:hover #prohover1,
  .projectD2:hover #prohover2,
  .projectD3:hover #prohover3,
  .projectD1:hover #prohover4,
  .projectD2:hover #prohover5 {
    display: flex;
    margin-top: 22rem;
    justify-content: center;
    padding-top: 1rem;
  }

  .projectD4 {
    background-image: url(./Images/background.png);
    height: 344px;
    margin-left: -25px;
    width: 75%;
  }

  /* ------------------------------------about------------------------------------- */

  #aboutSec {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-image: url(./Images/About-Desktop-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: 52% 29%;
    margin: auto;
  }

  #aboutSec .meDiv {
    width: 40%;
    margin-top: 10%;
  }

  #aboutSec .meDiv h2 {
    width: 35vw;
    height: auto;
    font-size: 72px;
    line-height: 54px;
    letter-spacing: -1.63px;
    text-align: left;
    margin: auto;
  }

  #aboutSec .meDiv p {
    display: flex;
    width: 40vw;
    height: auto;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  .btnAbout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 161px;
    height: 48px;
    background: var(--orange);
    border: none;
    margin-left: 10%;
    font-family: "Inter", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white);
    margin-top: 5%;
  }

  #aboutSec hr {
    color: var(--white);
    width: 80%;
    margin-top: 13%;
  }

  /* ------------------------------------languge----------------------------------- */

  .mainLang {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    align-items: baseline;
  }

  .boldH {
    gap: 17%;
    display: flex;
    width: 164px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    align-items: center;
    color: var(--white);
  }

  footer ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-top: 3rem;
    border: none;
    border-bottom: 1px solid;
    padding-bottom: 1rem;
    width: 90vw;
    margin-left: 3rem;
    justify-content: center;
  }

  .mainLang div ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  /* ------------------------------------form-------------------------------------- */

  #contact {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    gap: 1rem;
    width: 100vw;
    margin: auto;
    padding-top: 5rem;
  }

  #contact form #optionM {
    display: block;
  }

  /* form .first-last {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 47vw;
    margin: auto;
  } */

  form .first-last {
    display: flex;
    gap: 0.3rem;
  }

  .fullName {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: auto;
    height: auto;
  }

  #contact form input {
    border-bottom: 1px solid var(--dark);
    font-family: "Inter", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(--grey5);
    width: 45vw;
  }

  #contact form .first-last input {
    width: 22vw;
  }

  #contact h3 {
    width: 40vw;
    height: auto;
    font-size: 32px;
    line-height: 42px;
    text-align: left;
    margin-left: 3rem;
  }

  #contact form {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-top: 5%;
    margin-right: 3%;
  }

  #contact form textarea {
    line-height: 24px;
    color: var(--grey);
    border: none;
    height: auto;
    width: 40vw;
    background: var(--white5);
  }

  .foot {
    display: none;
  }

  .callMe {
    margin-left: 0;
  }

  .callMe:hover {
    margin-left: 0;
  }

  .callMe:active {
    margin-left: 0;
  }

  .callMe:disabled {
    margin-left: 0;
  }

  /* --------------------------------Footer------------------------------------- */

  /* -----------------------------modai style-------------------------------------- */

  #modalPop {
    display: none;
  }

  .modalPop #mobImg {
    display: none;
  }

  .modalPop {
    height: 580px;
    width: 1156px;
    border-radius: 0;
    position: fixed;
    left: 1rem;
    right: 1rem;
    top: 6rem;
    bottom: 5rem;
    background: var(--white);
    border: 1px solid var(--white6);
    box-shadow: 0 48px 48px rgb(37 47 137 / 8%);
    overflow-x: hidden;
    overflow-y: hidden;
    margin: auto;
  }

  .modalPop .modalHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 3rem;
    gap: 0;
    padding-right: 5rem;
    padding-top: 2rem;
  }

  .modalPop .modalHeader h2 span {
    font-family: Crete Round, "Times New Roman", Times, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: var(--navy-blue);
  }

  .modalPop .modalHeader h2 .closeB {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }

  .modalPop .modalHeader h2 .dTitle {
    width: 90%;
    height: 50px;
    font-family: "Roboto", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    color: var(--navy-blue2);
    gap: 4%;
    margin: auto;
  }

  .modalPop .modalHeader h2 .closeIcon {
    display: flex;
    font-size: 33px;
    padding-right: 7rem;
    padding-bottom: 3rem;
  }

  .modalPop .modalHeader .pTitle {
    display: none;
  }

  .modalPop .modalHeader .modalTech {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin-left: -2rem;
    height: 80px;
    margin-top: 1rem;
    width: 290px;
  }

  .modalPop .modalHeader .modalTech li button {
    border: 1px solid var(--lightgrey);
    font-size: 23px;
    padding: 7px;
    background: none;
    color: var(--navy-blue2);
  }

  .modalPop .modalDes {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 659px 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 1000px;
    height: 400px;
    margin-top: 2rem;
    margin-left: -6rem;
  }

  .modalPop .modalDes .modImg {
    width: 60%;
    height: 60%;
    margin-left: 1rem;
    margin-top: -2rem;
  }

  .modalPop .modalDes #btnContact {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    margin: auto;
    padding-left: 3rem;
  }

  .modalPop .modalDes #btnContact p {
    width: 424px;
    height: 336px;
    font-family: "Inter", "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--navy-blue2);
    margin-left: 17rem;
  }

  .modalPop .modalDes #btnContact .contactBtn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 17rem;
    width: 375px;
  }

  .modalPop .modalDes #btnContact a .btnContact {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    background: var(--orange2);
    border: 1px solid var(--orange2);
    color: var(--white);
    font-size: 12px;
    gap: 5px;
    align-items: center;
    margin: auto;
  }

  .modalPop .modalDes #btnContact a .btnContact:hover {
    background: transparent;
    color: var(--orange2);
  }
}
